<section class="entireDialog">
    
    <div class="ui-contact-upper-bar">
    
        
        
    
        <div class="detailcontact-upper-bar">
            <div class="ui-header">
            <a href="/">Cancel</a>
            </div>
    
            <div class="ui-header">
                <h2>Edit Contact</h2>
                </div>
        
        <div class="ui-header">
             <a href="">Done</a>
             </div>
           
        </div>
    
    
         
       
    </div>
    
    <section class="profileImage">
        <img src="/src/assets/images/IMG_1690.JPG" alt="">
        
    
        <div class="button-wrap">
         <a class="addImageProfile" for="upload-btn">Add Image</a>
        <input type="file" accept="image/png, image/jpeg" class="upload-btn"  required>
     </div>
        
    </section>
    
    <section class="contactFill">
        
        <div class="nameinputFields">
    
        <input type="text" placeholder="">
        
        <input type="text" placeholder="Last Name">
        </div>
    
        <div class="subinputFields">
        <input type="text" placeholder="" [maxLength]="10">
        <input type="email" placeholder="">
        </div>
    
        </section>
    
    
