<section class="flex-container">
    

   

    <section class="app-container">
        
        <a class="addContactlink" (click)="addContactDialog()">
        <img src="/assets/images/Plus Math.png" alt="">
        </a>
    
        
        <app-contact-header-bar> </app-contact-header-bar>
        <app-searchbox></app-searchbox>
        <br/>
        <app-contact-card></app-contact-card>
    
    
        
        <app-letter-symbols [letter]="'A'"></app-letter-symbols>
        
        <app-single-contact (contactSelected)="receiveContact($event)"></app-single-contact>
<br/>

<button class="toggle" (click)="switchTheme()">{{theme === 'light-theme' ? 'Switch to dark' : 'Switch to light'}}
   
    
  
</button>
        
        <!--
        <app-letter-symbols [letter]="'B'"></app-letter-symbols>
        
        <app-letter-symbols [letter]="'D'"></app-letter-symbols>

        -->

        <app-navigationmain></app-navigationmain>
        </section>

        
        <section *ngIf="currentContact" >        
         
            <app-contact-detailed (detailedClosed)="closedDetailed()" [contact]="currentContact" ></app-contact-detailed>
            
        
    </section>





    
        
</section>


