<section class="entireDialog">

<div class="ui-contact-upper-bar">

    
    

    <div class="detailcontact-upper-bar">
        <div class="ui-header">
        <a class="cancelBack" (click)="hidePopUp()">Cancel</a>
        </div>

        <div class="ui-header">
            <h2>New Contact</h2>
            </div>
    
    <div class="ui-header">
         <a class="doneButton" (click)="addContact()">Done</a>
         </div>
       
    </div>


     
   
</div>

<section class="profileImage">
    <img [src]="profileImage" alt="">

    <div class="button-wrap">
     <a class="addImageProfile" for="upload-btn">Add Image</a>
    <input type="file" accept="image/png, image/jpeg" class="upload-btn" (change)="selectImage($event)"  required>
 </div>
    
</section>

<section class="contactFill">
    
    <div class="nameinputFields">
    
    <input type="text" [(ngModel)]="firstname"  placeholder="First Name"/>
    <input type="text" [(ngModel)]="lastname" placeholder="Last Name">
    </div>

    <div class="subinputFields">
        <div class="addPhoneNo">
        <img src="/assets/images/Add.png" (click)="addPhone()" style="width: 20px; height:20px" />
        <h3>Add Phone</h3>
        </div>
    <section *ngFor="let num of number; let count = index;">
        <img src="/assets/images/Trash.png" (click)="removePhone()" style="width: 20px; height:20px" class="delContact" />
        <input type="text" [(ngModel)]="number[count]" placeholder="Add Phone" [maxLength]="10">
    </section>
    <input type="email" [(ngModel)]="email" placeholder="Add Email">
    </div>

    </section>
