:host{
    width: 85%;
    height: 100%;
   
}
.threeoptions{
    margin-top: 30px;
    background-color: var(--box-color);
    border-radius: 10px;
}

.firstoption{
    margin-left: 35px;
    margin-top: 10px;
    border-bottom: 1px solid var(--box-color);
    padding-top: 10px;
    padding-bottom: 15px;
    height: 30%;
}

.secondoption{
    margin-left: 35px;
    margin-top: 10px;
    border-bottom: 1px solid var(--whiteFour);
    padding-bottom: 15px;
    height: 30%;
}

.thirdoption{
    margin-left: 35px;
    margin-top: 10px;
    height: 30%;
    padding-bottom: 15px;
}

