/* You can add global styles to this file, and also import other style files */
@import 'semantic-ui-css/semantic.css';

.light-theme{
    --background-color: #ececec;
    --text-color: #000000;
    --box-color: #fff;
    --searchplaceholder: #c2c2c2;
    --threeoptionsborder: rgba(255,255,255,0.4);
    --border-color: #c2c2c2;
    --border-color: #c2c2c2;
    --button-color: #4183C4;
    --button-text-color: #fff;
    --box-colorTwo: #fff;
    --border-colorTwo: #6d6d6d;
}


.dark-theme{
    --background-color: #000000;
    --text-color: #ffffff;
    --box-color: #1c1c1e;
    --border-color: #1c1c1e;
    --button-color: #1c1c1e;
    --button-text-color: #fff;
    /* --box-colorTwo: rgba(61, 61, 66, 0.5); */
    --box-colorTwo: transparent;
    --border-colorTwo: #6d6d6d;
   
}


*{
    box-sizing: border-box;
}


app-root{
    width: 100%;
    height: 100%;
    display: flex;
}

html, body { height: 100%; }
body {
     margin: 0; 
     padding: 0;

     font-family: Roboto, "Helvetica Neue", sans-serif; 
    }


